*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: var(--font-family);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
:root{
    --bgcolor: #1C1E53;
    --htextcolor: #FFFFFF;
    --font-family: 'Poppins', sans-serif;
    --wtextcolor: #282938;
}
 /*-- nav part start --*/
.bg_menu{
    background-color: var(--bgcolor);
    padding: 40px 0;
}
.bg_menu ul li a{
    color: var(--htextcolor) !important;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.contact{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    background-color: #1C1E53;
    padding: 16px 48px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.contact:hover{
    background-color: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
/*-- nav part end --*/
/*-- pricing part start --*/
#pricing{
    margin: 5% 0;
}
.price_head h2{
    color: var(--wtextcolor);
    font-size: 48px;
    font-weight: 600;
}
.price_head p{
    color: var(--wtextcolor);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}
.price_dtls{
    background-color: #F4F6FC;
    padding: 5%;
    position: relative;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.price_dtls:hover{
    color: var(--htextcolor);
    background: #1C1E53 90%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.8s ease;
}
.price_dtls:hover .dtls_last a{
    color: var(--wtextcolor);
    background-color: #fafafa;
}
.price_dtls:hover .dtls_last a:hover{
    background-color: #FCD980;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.price_dtls:hover .spout h6{
    color: var(--htextcolor);
}
.price_dtls:hover .spout h6 i{
    color: #97DAAD;
}
.price_dtls:hover .price_dtls_head h2{
    color: var(--htextcolor);
}
.price_dtls:hover .price_dtls_head p{
    color: #FCD980;
}
.price_dtls:hover h3{
    color: var(--htextcolor);
}
.price_dtls:hover p{
    color: var(--htextcolor);
}
.price_dtls_head h2{
    color: var(--wtextcolor);
    font-size: 38px;
    font-weight: 600;
}
.price_dtls_head p{
    color: #2405F2;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}
.price_dtls h3{
    color: var(--wtextcolor);
    font-size: 24px;
    font-weight: 500;
}
.price_dtls p{
    color: var(--wtextcolor);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}
.spout h6{
    margin: 30px 0;
    color: var(--wtextcolor);
    font-size: 16px;
    font-weight: 400;
}
.spout h6 i{
    padding-right: 5%;
    color: #c4c4c4;
}
.dtls_last{
    text-align: center;
}
.dtls_last a:hover{
    background-color: #FCD980;
}
.dtls_last a{
    color: #F4F6FC;
    font-size: 18px;
    font-weight: 600;
    bottom: 0;
    padding: 16px 50px;
    background-color: var(--wtextcolor);
    border: 2px solid var(--wtextcolor);
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#spout_one{
    margin: 55px 0;
}
#spout_two{
    margin: 43px 0;
}
/*-- faq part start --*/
#faq{
    margin: 50px 0;
}
.faq_head h2{
    color: var(--wtextcolor);
    font-size: 48px;
    font-weight: 600;    
}
.faq_head a{
    color: var(--bgcolor);
    font-size: 18px;
    font-weight: 500;    
}
.faq_head a:hover{
    color: #2405F2;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.accordion-item h2{
    color: var(--wtextcolor);
    font-size: 24px;
    font-weight: 500;
}
.accordion-item a{
    color: #2405F2;
    font-size: 24px;
    font-weight: 500;
}
.faq_btn a{
    margin-right: 30px;
}
.accordion-body p{
    margin-left: 40px;
    color: var(--wtextcolor);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;
}
/*-- faq part end --*/
/*-- pricing part end --*/
/*-- footer part start --*/
footer{
    background-color: #1C1E53;
    padding-top: 4%;
}
.footer_left p{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    padding-top: 20px;  
    line-height: 28px;
}
.footer_right h2{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;    
}
.footer_right p{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8; 
    line-height: 28px;     
}
.footer_right span a i{
    margin: 10px;
    color: #F4F6FC;
}
.footer_right span a:hover{
    color: #FCD980;
}
.cntact{
    padding: 16px;
    border: 2px solid #FCD980;
    background-color: #FCD980;  
    transform: translateY(20px);
}
.call h2{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.call a{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
.cnt_mail{
    margin: 0 10%;
}
.end .navbar{
    background-color: #FFFFFF;
    padding: 15px;
}
.navbar-text{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.bt-menu ul li a{
    color: #282938 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px; 
}  
/*-- footer part end --*/
@media (max-width:767px){
    .container h2{
        font-size: 30px;
    }
    .container p{
        font-size: 14px;
    }
    .container a{
        font-size: 14px;
    }
    .menu_bg ul{
        text-align: center;
    }
    .nav_icon{
        background-color: #FCD980;
    }
    .bg_menu{
        position: relative;
        background-color: #1C1E53;
    }
    .menu_bg ul li{
        padding: 5px 0;
    } 
    .btn_nav{
        flex-direction: row;
    }
    .btn_nav li{
        margin-right: 20px;
    }
    .bt-menu ul li a{
        margin: 0;
    }
    .faq_head{
        margin-bottom: 20px;
    }
    .accordion-item h2{
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .container h2{
        font-size: 25px;
    }
    .container p{
        font-size: 14px;
    }
    .container a{
        font-size: 14px;
    }
    .menu_bg ul li{
        padding: 5px 0;
    }
    .nav_icon{
        background-color: #FCD980;
    }
    .bg_menu{
        position: relative;
        background-color: #1C1E53;
    }
    .menu_bg ul{
        text-align: center;
    } 
    .btn_nav{
        flex-direction: row;
    }
    .btn_nav li{
        margin-right: 20px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .bg_menu ul li a{
        margin: 0 10px;
    }
}
@media (min-width:1200px) and (max-width:1399.98px){

}
@media (min-width:1400px){
}