*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
:root{
    --bgcolor: #1C1E53;
    --htextcolor: #FFFFFF;
    --font-family: 'Poppins', sans-serif;
    --wtextcolor: #282938;
}
.container p{
    color: var(--wtextcolor);
    font-size: 16px;
    opacity: 0.7;
    padding-bottom: 10px;
}
/*-- nav part start --*/
.bg_menu{
    background-color: #1C1E53;
    padding: 30px 0;
}
.bg_menu ul li a{
    color: var(--htextcolor) !important;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.contact{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    background-color: #1C1E53;
    padding: 16px 48px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.contact:hover{
    background-color: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/*-- nav part end --*/
/*-- banner part start --*/
#banner{
    margin: 30px 0;
}
.banner_head h4{
    color: var(--wtextcolor);
    font-size: 24px;
    font-weight: 500;
}
.banner_head h2{
    color: var(--wtextcolor);
    font-size: 48px;
    font-weight: 600;
}
.bannre_img{
    margin: 20px 0;
}
.bannre_img img{
    width: 100%;
}
.bannre_img{
    padding: 30px 40px;
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}
.bannre_img img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px;
}
.ban_btn_text{
   padding-top: 10px;
}
.ban_btn_text p{
    opacity: 0.8;
    padding: 0;
    margin: 0;
}
.ban_btn_text h4{
    color: var(--wtextcolor);
    font-size: 24px;
    font-weight: 500;   
}
/*-- banner part end --*/
/*-- about part start --*/
#about{
    margin-top: 30px;
}
.about_head h2{
    color: var(--wtextcolor);
    font-size: 38px;
    font-weight: 600;
}
.dtls_one{
    position: relative;
    padding: 10px 0;
}
.dtls_one p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.about_img{
    margin: 20px 0;
    padding: 30px 40px;
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}
.about_img img{
    width: 100%;
}
.about_img img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px;
}
.about_btn{
    margin: 20px 0;
}
.about_btn h2{
    color: var(--wtextcolor);
    font-size: 38px;
    font-weight: 600;
}
.about_btn button{
    padding: 10px;
    margin: 10px;
    background-color: #1C1E53;
    color: #FFFFFF;
}
.about_btn button:first-child{
    margin-left: 0;
}
.about_btn button:last-child{
    margin-right: 0;
}
.about_btn button:hover{
    background-color: #FCD980;
    color: var(--wtextcolor);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/*-- about part end --*/
/*-- great part start --*/
#great{
    margin: 30px 0;
}
.great_text h2{
    color: var(--wtextcolor);
    font-size: 48px;
    font-weight: 600;
}
.great_text p{
    color: var(--wtextcolor);
    font-weight: 500;
    opacity: 0.7;
}
.great_text a{
    color: var(--htextcolor);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 16px 65px;
    border: 1.5px solid #FCD980;
    border: none;
    background-color: #1C1E53;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.great_text a:hover{
    color: var(--wtextcolor);
    background-color: #FCD980;
}
/*-- great part end --*/
/*-- footer part start --*/
footer{
    background-color: #1C1E53;
    padding-top: 4%;
}
.footer_left p{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    padding-top: 20px;  
    line-height: 28px;
}
.footer_right h2{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;    
}
.footer_right p{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8; 
    line-height: 28px;     
}
.footer_right span a i{
    margin: 10px;
    color: #F4F6FC;
}
.footer_right span a:hover{
    color: #FCD980;
}
.cntact{
    padding: 16px;
    border: 2px solid #FCD980;
    background-color: #FCD980;  
    transform: translateY(20px);
}
.call h2{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.call a{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
.cnt_mail{
    margin: 0 10%;
}
.end .navbar{
    background-color: #FFFFFF;
    padding: 15px;
}
.navbar-text{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.bt-menu ul li a{
    color: #282938 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px; 
}   
/*-- footer part end --*/

@media (max-width:767px){
    .container h2{
        font-size: 30px;
    }
    .container p{
        font-size: 12px;
    }
    .container a{
        font-size: 14px;
    }
    .menu_bg ul{
        text-align: center;
    }
    .nav_icon{
        background-color: #FCD980;
    }    
    .menu_bg ul li{
        padding: 5px 0;
    }       
    .btn_nav{
        flex-direction: row;
    }
    .btn_nav li{
        margin-right: 20px;
    }
    .bt-menu ul li a{
        margin: 0;
    }
    .ban_btn_text h4{
        font-size: 15px;    
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .menu_bg ul{
        text-align: center;
    }
    .nav_icon{
        background-color: #FCD980;
    } 
    .container h2{
        font-size: 30px;
    }
    .container p{
        font-size: 14px;
    }
    .container a{
        font-size: 14px;
    }
    .menu_bg ul li{
        padding: 5px 0;
    }     
    .btn_nav{
        flex-direction: row;
    }
    .btn_nav li{
        margin-right: 20px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .bg_menu ul li a{
        margin: 0 15px;
    }    
}
@media (min-width:1200px) and (max-width:1399.98px){

}
@media (min-width:1400px){
}